#storePad{
    background-image: linear-gradient(45deg,rgb(163, 149, 163), white, white);
}
#prodAndServSlogan{
    margin-bottom: .3em;
}
.cap {
    background-color: rgb(1, 255, 1);
    width: 100%;
    height: 10vh;
    /*border-top: 1px solid yellowgreen;*/
}
.cap img{
    width: 100%;
    height: 10vh;
    transform: scale(3);
    filter: blur(3px);
    object-fit:cover;
    object-position: 50% 100%;
}
.storeGallery{
    /*background-color: rgb(39, 39, 39);*/
    overflow-y: scroll;
    max-height: calc(97vh - 2em);
    height: 80vh;
    width: 85vw;
    max-width: 1001px;
    z-index: 13;
    /*box-shadow: inset 0px 0px 20px black; —optional */
    border-radius: 2.34px;
    border: 1px solid rgba(206, 206, 206, 0.6);
}
